# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ========================
# Dependencies
# ========================
node_modules/

# ========================
# Expo / React Native
# ========================
.expo/
dist/
web-build/
expo-env.d.ts

# ========================
# Build artifacts
# ========================
*.apk
*.aab
*.app
*.ipa
*.xcarchive

# ========================
# Native
# ========================
android/app/release
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ========================
# Metro bundler
# ========================
.metro-health-check*

# ========================
# Debug / Logs
# ========================
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# ========================
# macOS / OS specific
# ========================
.DS_Store
Thumbs.db
*.pem

# ========================
# Local environment files
# ========================
.env
.env*.local

# ========================
# TypeScript build info
# ========================
*.tsbuildinfo

# ========================
# Example files
# ========================
app-example
