# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build artifacts
*.apk
*.aab
*.app
*.ipa
*.xcarchive

# Native
android/app/release
.kotlin/
*.orig.*
*.keystore
!android/app/debug.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
Thumbs.db
*.pem

# Env
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Example
app-example

# Native build folders
android/app/build/
ios/build/